@model Customer

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Customers</title>
    </head>
    <body>
        <label> @Model.FirstName</label>
        
    </body>
    </html>